{% include 'base.html' %}
<style>
</style>
<script >
	var quantity = 3;
	var div_label = {view:"label", id:"div_label", label:"", css: "title"};
	var div_detail = {
	    view:"form",
	    id:"detail_form",
	    scroll:"y", 
	    autoheight:true,
	    borderless:true,
	    elements:[
{% for no in 1..10 %}
			{id:"row_{{no}}", hidden:true, rows:[
				{view:"label", id:"detail_label_lawer_name_{{no}}", label:"Name{{no}}", hidden:true},
				{view:"label", id:"detail_label_office_{{no}}", label:"Office{{no}}", hidden:true},
				{view:"label", id:"detail_label_position_{{no}}", label:"position{{no}}", hidden:true},
				{view:"label", id:"detail_label_type_{{no}}", label:"type{{no}}", hidden:true},
				{view:"label", id:"detail_label_ph_1_{{no}}", label:"Ph1{{no}}", hidden:true},
				{view:"label", id:"detail_label_ph_2_{{no}}", label:"Ph1{{no}}", hidden:true},
				{view:"label", id:"detail_label_ph_3_{{no}}", label:"Ph1{{no}}", hidden:true},
				{view:"label", id:"detail_label_ph_4_{{no}}", label:"Ph1{{no}}", hidden:true},
				{view:"label", id:"detail_label_ph_5_{{no}}", label:"Ph1{{no}}", hidden:true},
				{view:"label", id:"detail_label_division_{{no}}", label:"Ph1{{no}}", hidden:true},
				{view:"label", id:"detail_label_township_{{no}}", label:"Ph1{{no}}", hidden:true},
				{view:"label", id:"detail_label_town_{{no}}", label:"Ph1{{no}}", hidden:true},
				{height:5, rows:[{view:"label", label:"<div style='height:1px; background:black;'></div>", css:"line"}]},
			]},
{% endfor %}
	    ]
	};
	var to_back = {view:"button", id:"to_back", value:"ပြန်သွားမည်", css:"webix_primary", height:50, width:100};
	var footer = {view:"label", label:"<footer style='text-align:center;>'>white-shadow</footer>"};
	webix.ready(function () {
		webix.ui(
		{view:"form",
		    elements:[
				div_label,
				div_detail,
				to_back,
				footer,
				{height:40}
		]})
		logic.init();
	});
	var logic = {
		init: function () {
			var div_label = webix.storage.session.get("division") || "";
			div_label = "<div style='font-size:1.5em; color:blue;'>" + div_label + "</div>";
			$$("div_label").setValue(div_label);
			logic.dataload();
			$$("to_back").attachEvent("onItemClick", logic.to_back);
		},
		dataload: function () {
			var _division = webix.storage.session.get("division") || "";
			var post_data = {
				"division": _division,
			};
			$.get("/quantityLoad", post_data, function(data) {
				var obj = JSON.parse(data);
				var quantity = obj.length;
				for (var i = 1; i <= quantity; i++) {
					logic.setAndView(i, obj[i-1]);
				}
			});
		},
		setAndView: function (no, obj) {
			var _row_id = "row_" + no;
			$$(_row_id).show();
			var fld = obj;
			if ((fld.lawer_name.length || 0) != 0) {
				var _lawer_name = "detail_label_lawer_name_" + no;
				$$(_lawer_name).setValue(fld.lawer_name);
				$$(_lawer_name).show();
			}
			if ((fld.office.length || 0) != 0) {
				var _office = "detail_label_office_" + no;
				$$(_office).setValue(fld.office);
				$$(_office).show();
			}
			if ((fld.position.length || 0) != 0) {
				var _position = "detail_label_position_" + no;
				$$(_position).setValue(fld.position);
				$$(_position).show();
			}
			if ((fld.type.length || 0) != 0) {
				var _type = "detail_label_type_" + no;
				$$(_type).setValue(fld.type);
				$$(_type).show();
			}
			if ((fld.ph_1.length || 0) != 0) {
				var _ph_1 = "detail_label_ph_1_" + no;
				var _ph_1_label = "<a href='tel:" + fld.ph_1 + "'>" + fld.ph_1 + "</a>";
				$$(_ph_1).setValue(_ph_1_label);
				$$(_ph_1).show();
			}
			if ((fld.ph_2.length || 0) != 0) {
				var _ph_2 = "detail_label_ph_2_" + no;
				var _ph_2_label = "<a href='tel:" + fld.ph_2 + "'>" + fld.ph_2 + "</a>";
				$$(_ph_2).setValue(_ph_2_label);
				$$(_ph_2).show();
			}
			if ((fld.ph_3.length || 0) != 0) {
				var _ph_3 = "detail_label_ph_3_" + no;
				var _ph_3_label = "<a href='tel:" + fld.ph_3 + "'>" + fld.ph_3 + "</a>";
				$$(_ph_3).setValue(_ph_3_label);
				$$(_ph_3).show();
			}
			if ((fld.ph_4.length || 0) != 0) {
				var _ph_4 = "detail_label_ph_4_" + no;
				var _ph_4_label = "<a href='tel:" + fld.ph_4 + "'>" + fld.ph_4 + "</a>";
				$$(_ph_4).setValue(_ph_4_label);
				$$(_ph_4).show();
			}
			if ((fld.ph_5.length || 0) != 0) {
				var _ph_5 = "detail_label_ph_5_" + no;
				var _ph_5_label = "<a href='tel:" + fld.ph_5 + "'>" + fld.ph_5 + "</a>";
				$$(_ph_5).setValue(_ph_5_label);
				$$(_ph_5).show();
			}
			if ((fld.township.length || 0) != 0) {
				var _township = "detail_label_township_" + no;
				$$(_township).setValue(fld.township);
				$$(_township).show();
			}
			if ((fld.town.length || 0) != 0) {
				var _town = "detail_label_town_" + no;
				$$(_town).setValue(fld.town);
				$$(_town).show();
			}
		},
		to_back: function() {
			var _url = webix.storage.session.get("url");
			location.href= _url;
		}
	};
</script>
